body {
	background-color:#FFEEB0;
	color:#7F6F32;
	font-size:10pt;
}
div.title{
	width:80%;
	border-style:solid;
	border-width:1pt;
	border-color:#424242;
	background-color:#7F754D;
	padding:1mm;
	text-align:left;
	font-size:12pt;
	color:#FFFFFF;

	margin:5mm;
	margin-top:5mm;
	margin-bottom:7mm;
	margin-left:3mm;
	margin-right:3mm;
}
div.box{
	width:80%;
	border-style:solid;
	border-width:1pt;
	border-color:#424242;
	background-color:#EFECCA;
	padding:1mm;
	text-align:left;

	margin:5mm;
	margin-top:5mm;
	margin-bottom:7mm;
	margin-left:3mm;
	margin-right:3mm;
}
input[type="text"] {
width: 80%;
line-height: 1.5em;
}
img {
width: 70%;
}
textarea {
width: 90%;
height: 7em;
line-height: 1.5em;
}

a:link{
	color:#002F2F;
}

a:visited{
	color:#002F2F;
}

#ham-menu {
    background-color: #FFDD63; /*メニュー背景色*/
    box-sizing: border-box;
    height: 100%;
    padding: 10px 40px; /*メニュー内左右上下余白*/
    position: fixed;
    right: -300px; /*メニュー横幅 width と合わせる*/
    top: 0;
    transition: transform 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
    width: 300px; /*メニュー横幅*/
    z-index: 1000;
}

#menu-background {
    background-color: #333; /*黒背景*/
    display: block;
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
    width: 100%;
    z-index: -1;
}

#menu-icon {
    background-color: #FFDD63; /*アイコン部分背景色*/
    border-radius: 0 0 0 10px; /*左下角丸*/
    color: #333; /*アイコン（フォント）色*/
    cursor: pointer;
    display: block;
    font-size: 50px; /*アイコン（フォント）サイズ*/
    height: 50px; /*アイコン縦高さ*/
    line-height: 50px; /*縦位置中央化*/
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px; /*アイコン横幅*/
    transition: all 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
    z-index: 1000;
}

#menu-cb {
    display: none; /*チェックボックス本体は消しておく*/
}

#menu-cb:checked ~ #ham-menu,
#menu-cb:checked ~ #menu-icon {
    transform: translate(-300px); /*メニュー本体横幅 width と合わせる*/
}

#menu-cb:checked ~ #menu-background {
    opacity: 0.5;
    z-index: 999;
}
